@import "../common/styles/colors";
$header-border-color: $alto;
$header-background-color: $pampas;
$header-text-color: $monsoon;

:host {
  border-bottom: 1px solid $header-border-color;
  background: $header-background-color;
  color: $header-text-color;
  height: 75px;
  left: 280px;
  font-weight: 600;
  padding: 0 20px;
  position: fixed;
  right: 20px;
  top: 0;
}

.header-title {
  font-size: 20px;
  line-height: 75px;
}
