@import "../common/styles/colors";
$header-background-color: $white;
$header-text-color: $regent-gray;
$header-shadow-color: $vista-white;

:host {
  background: $header-background-color;
  color: $header-text-color;
  box-shadow: $header-shadow-color 0px 1px 2px 0px;
  height: 66px;
  left: 260px;
  font-size: 14px;
  font-weight: 200;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
}

.header-title {
  line-height: 66px;
}