@import "../common/styles/colors";
$wizard-header-background-color: $malibu;
$step-color: rgba($white, 0.55);
$step-color-active: $white;

.wizard-header {
    background: $wizard-header-background-color;
    text-align: center;
    height:80px;
}
.step {
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    color: $step-color;
    &.active {
        color: $step-color-active;
        &>.step-dot {
            background: $step-color-active;
        }
    }

}
.step-label {
    font-size: 14px;
    margin: 0 30px 10px 30px;
}
.step-dot {
    background: $step-color;
    height: 9px;
    width: 9px;
    border-radius: 9px;
    margin: auto;

}