@font-face {
    font-family: 'caius-icons';
    src:    url('common/fonts/caius-icons.eot?maf87e');
    src:    url('common/fonts/caius-icons.eot?maf87e#iefix') format('embedded-opentype'),
        url('common/fonts/caius-icons.ttf?maf87e') format('truetype'),
        url('common/fonts/caius-icons.woff?maf87e') format('woff'),
        url('common/fonts/caius-icons.svg?maf87e#caius-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'caius-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-toggle:before {
    content: "\e003";
}
.icon-layout:before {
    content: "\e004";
}
.icon-lock:before {
    content: "\e007";
}
.icon-ribbon:before {
    content: "\e009";
}
.icon-clipboard:before {
    content: "\e013";
}
.icon-clock:before {
    content: "\e014";
}
.icon-printer:before {
    content: "\e020";
}
.icon-cog:before {
    content: "\e023";
}
.icon-layers:before {
    content: "\e031";
}
.icon-paper:before {
    content: "\e034";
}
.icon-repeat:before {
    content: "\e058";
}
.icon-folder:before {
    content: "\e059";
}
.icon-head:before {
    content: "\e074";
}
.icon-share:before {
    content: "\e081";
}
.icon-bar-graph:before {
    content: "\e090";
}
.icon-bar-graph-2:before {
    content: "\e091";
}
.icon-content-right:before {
    content: "\e100";
}
.icon-grid:before {
    content: "\e102";
}
.icon-trash:before {
    content: "\e109";
}
.icon-maximize:before {
    content: "\e112";
}
.icon-minimize:before {
    content: "\e113";
}
.icon-plus:before {
    content: "\e114";
}
.icon-minus:before {
    content: "\e115";
}
.icon-check:before {
    content: "\e116";
}
.icon-cross:before {
    content: "\e117";
}
.icon-menu:before {
    content: "\e120";
}
.icon-archive:before {
    content: "\e121";
}
.icon-inbox:before {
    content: "\e122";
}
.icon-outbox:before {
    content: "\e123";
}
.icon-file:before {
    content: "\e124";
}
.icon-ellipsis:before {
    content: "\e129";
}

