html {
  font-family: 'Muli', Helvetica, Arial, sans-serif; }

body {
  background: #F4F3EF;
  margin: 0;
  position: relative; }
  body:after {
    content: "";
    clear: both;
    display: table; }

ol,
ul {
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }
