:host {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #FFF;
  box-shadow: #dddddd -1px 0px 0px 0px inset;
  color: #66615B;
  width: 260px; }

.sidebar-header {
  border-bottom: 1px solid #D1D0CE;
  height: 75px;
  margin: 0 20px; }

.sidebar-title {
  display: block;
  font-weight: 400;
  line-height: 75px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase; }

.menu-list {
  margin: 30px 25px; }

.item-title {
  color: #66615B;
  font-size: 12px;
  padding-left: 5px;
  text-transform: uppercase; }

.item-icon {
  color: #a7afbd; }
