:host {
  background: #FFF;
  color: #8A979E;
  box-shadow: rgba(204, 204, 204, 0.498039) 0px 1px 2px 0px;
  height: 66px;
  left: 260px;
  font-size: 14px;
  font-weight: 200;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0; }

.header-title {
  line-height: 66px; }
