@import "../common/styles/colors";
$sidebar-background-color: $oxford-blue;
$sidebar-text-color: $regent-gray;
$sidebar-title-background-color: $malibu;
$sidebar-title-text-color: $white;

:host {
  position: fixed;
  top: 0;
  bottom: 0;
  background: $sidebar-background-color;
  color: $sidebar-text-color;
  width: 260px;
}
.sidebar-header {
  background: $sidebar-title-background-color;
  color: $sidebar-title-text-color;
  height: 66px;
}
.sidebar-title {
  display: block;
  font-weight: 500;
  line-height: 66px;
  font-size: 18px;
  padding-left: 20px;
}
.menu-list {
  margin: 30px 25px;
}
.item-title {
  color: $sidebar-text-color;
  font-size: 12px;
  padding-left: 5px;
  text-transform: uppercase;
}
.item-icon {
  color: rgb(167, 175, 189);
}
