@import "../common/styles/colors";
$item-container-background-color: $white;
$item-container-shadow-color: $vista-white;
$item-container-text-color: $oxford-blue;

:host {
  background: $item-container-background-color;
  border-radius: 6px;
  box-shadow: $item-container-shadow-color 0px 1px 2px 0px;
  color: $item-container-text-color;
  display: block;
  font-size: 20px;
  font-weight: 300;
  min-height: 300px;
  padding: 30px;
}
