@import "../common/styles/colors";
$modal-background-color: rgba($black, 0.4);
$modal-container-background-color: $white;
$modal-container-shadow-color: $vista-white;

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $modal-background-color;
}

.modal-container {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:$modal-container-background-color;
  width: 500px;
  box-shadow: $modal-container-shadow-color 0px 1px 2px 0px;
}

.modal-header {
  min-height: 60px;
}
.modal-body {
  min-height: 80px;
}
.modal-footer {
  min-height: 60px;
}